body{
    background: blue;
}

.ss{
    width: 200px;
    height: 100px;
    float: left;
    background: url('@{img-path}/clouds.png');
    position: absolute;
} 

.about{
    background: red;
    width: 300px;
    float: left;
    height: 300px;
}