<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Career</title>
        <link rel='shortcut icon' type='image/x-icon' href='desktop/assets/resources/img/favicon.ico' />
        <link href="desktop/assets/resources/styles/css/page.css" type="text/css" rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" href="desktop/assets/resources/fonts/fonts.css" />
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700" rel="stylesheet">
        <?php include_once 'common/templates/loader.php'; ?>
        <?php include_once 'common/templates/gtm.php'; ?>
    </head>
    <body>
        <?php include_once 'common/templates/gtm-frame.php'; ?>
        <?php include_once 'common/templates/header.php'; ?>
        <?php include_once 'common/templates/navigations.php'; ?>

        <div class="cr_center cr_header">
            <h1>careers</h1>
            <div class="cr_h_graphic">
                <div class="cr_cross_cont">

                </div>
                <span class="cr_h_desc">An incredible culture produces incredible work. </span>
            </div>
            <p>
                We believe nothing moves our people more than creating something unique, something of value. We believe that the single most important feature  of world-class work is attention to detail. We believe the best work happens when you are healthy, when you are having fun and are surrounded by incredible peers.
                Our culture is founded on these beliefs and that is why you should be a part of it.
            </p>
        </div>


        <div class="cr_center cr_video_center">
            <div class="abt_video_section">
                <div  class="video_placeholder">
                    <video  class="career_video" loop poster="desktop/assets/resources/img/career/video_placeholder.jpg">
                        <source src="desktop/assets/resources/img/career/career.mov">
                        Your browser does not support the video tag.
                    </video>
                    <div class="cr_video_des">
                        <span class="cr_v_play_btn">play the show</span>
                        <p title="why work with us ?" class="cr_w_work_us"></p>
                    </div>
                </div>
                <div class="video_bg"></div>
            </div>
        </div>


        <div class="cr_center">
            <!-- current openings-->
            <div class="cr_opening_section">
                <span class="cr_op_s_title">current openings</span>
                <h2 class="cr_demand_glitch" data-text='You are in demand'>You are in demand</h2>
                <ul class="cr_openings_list">
                    <li>
                        <span class="cr_job_title">Front End Developer</span>
                        <div class="cr_job_desc">
                            <p>
                                Front End Development at Blimp means an understanding of code and design in equal measure. Our developers understand how people use the web and are passionate about improving user experience.
                                If you are excited about pushing boundaries of what is possible in the world of front end development this just might the right job for you.
                            </p>
                            <div class="button_cont layer_button">
                                <a href="contact.php" class="submit_button upper_layer">Apply Today</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <span class="cr_job_title">Designer</span>
                        <div class="cr_job_desc">
                            <p>
                                Create engaging design experiences to bring brands to life. A designer at Blimp is a stickler for design and is passionate about user experience and engaging visuals in equal measure. If bad typography and on a restaurant menu kills your appetite then you are looking at the right job.
                            </p>
                            <div class="button_cont layer_button">
                                <a href="contact.php" class="submit_button upper_layer">Apply Today</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <span class="cr_job_title">Internships</span>
                        <div class="cr_job_desc">
                            <p>
                                If you are looking to learn from a team of super talented designers and creative thinkers and creative thinkers and create some amazing work in the process then our internships are the perfect fit for you.
                                So if you have  skills related to anything ‘design’, why don’t you put together some of your best work and tell us why we should have you work at Blimp.
                            </p>
                            <div class="button_cont layer_button">
                                <a href="contact.php" class="submit_button upper_layer">Apply Today</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>


        </div>


        <div class="cr_footer_desc">
            <p>
                <span>We are craving you! Call us: <b>+91–172–2739754</b> We are craving you! Call us:<b>+91–172–2739754</b> We are craving you! Call us: <b>+91–172–2739754</b> We are craving you! Call us:<b>+91–172–2739754</b> We are craving you! Call us:<b>+91–172–2739754</b></span>
                <span>We are craving you! Call us:<b>+91–172–2739754</b> </span>
            </p>
        </div>


        <!-- window left section -->
        <div class="say_hello left_vertical_section cr_vertical">
            <span class="original">you are in demand</span>
        </div>

        <!--footer-->
        <?php include_once 'common/templates/footer.php'; ?>
    </body>

</html>
