<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Expertise</title>
        <link rel="shortcut icon" type="image/x-icon" href="desktop/assets/resources/img/favicon.ico" />
        <link href="desktop/assets/resources/styles/css/page.css" type="text/css" rel="stylesheet"  />
        <link rel="stylesheet" type="text/css" href="desktop/assets/resources/fonts/fonts.css" />
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700" rel="stylesheet">
        
    </head>
    <body>
        

        <div class="ex_section">
            <h1>expertise</h1>
            <p>Stuff you can quiz us on.</p>
        </div>


        <div class="ex_center">
            <div class="ex_right_sec">
                <div class="ex_t_ballon">
                    <span class="b_f_window"></span>
                    <span class="b_b_window"></span>
                </div>
                <div class="ex_b_machine">
                    <span class="m_cap"></span>
                    <span class="f_cap"></span>
                </div>
                <div class="ex_smoke">
                    <span class="ex_smoke_1"></span>
                    <span class="ex_smoke_2"></span>
                    <span class="ex_smoke_3"></span>
                    <span class="ex_smoke_4"></span>
                </div>
            </div>
            <div class="ex_left_sec">
                <ul class="ex_lists">
                    <li>
                        <h6>Ecommerce Design</h6>
                        <p>Great visuals combined with science and research that builds incredible brands and drives transactions.</p>
                    </li>
                    <li>
                        <h6>Websites & Digital Platforms </h6>
                        <p>We go beyond the aesthetics. Our UI/UX service brings together the best of data driven insights, brand objectives, user behavior and cutting edge technology.</p>
                    </li>
                    <li>
                        <h6>Packaging</h6>
                        <p>Simple. We are so done with the ugliness of packaging that surrounds us, sub standard box templates drive us mad and we think it's time for a change.</p>
                    </li>

                    <li>
                        <h6>Brand & Identity Design</h6>
                        <p>We create brands and identities that are easy to understand and as a result, impossible to ignore.</p>
                    </li>
                </ul>
                <div class="button_cont layer_button">
                    <a href="contact.php" class="submit_button upper_layer">Get In Touch With Us</a>
                </div>
            </div>
        </div>

        <!-- window left section -->
        <div class="say_hello left_vertical_section ex_vertical">
            <span class="original">we are here to help you</span>
        </div>

        <!--footer-->
        <?php include_once 'common/templates/footer.php'; ?>
            </body>

</html>
