<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Mojarto</title>
        <link rel='shortcut icon' type='image/x-icon' href='desktop/assets/resources/img/favicon.ico' />
        <link href="desktop/assets/resources/styles/css/page.css" type="text/css" rel="stylesheet"  />
        <link rel="stylesheet" type="text/css" href="desktop/assets/resources/fonts/fonts.css" />
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
        <?php include_once 'common/templates/loader.php'; ?>
        <?php include_once 'common/templates/gtm.php'; ?>
    </head>
    <body>
        <?php include_once 'common/templates/gtm-frame.php'; ?>
        <a class="pt_back_btn" href="portfolio.php"><img src="desktop/assets/resources/img/portfolio/back_button.png" /></a>
        <div class="mj_p_header">
            <div class="mj_center">
                <div class="mj_p_h_frame">
                    <img src="desktop/assets/resources/img/portfolio/mojarto/header_middle_pic.png" />
                    <h1 class="mj_p_title">Mojarto</h1>
                </div>
            </div>
        </div>

        <div class="ne_center ne_sec_2">
            <h2 class="pf_titles">Ecommerce Store Design</h2>
            <p class="pf_title_desc">
                 The Largest Online Platform for Original Indian Paintings, Prints & Collectibles
            </p>

            <div class="mj_p_b_title">
                <svg width="630" height="100" x="0" y="0">
                <defs>
                <pattern id="img1" patternUnits="userSpaceOnUse" width="900" height="100">
                    <image xlink:href="desktop/assets/resources/img/portfolio/mojarto/text_mask.png" x="0" y="0"
                           width="900" height="100" />
                </pattern>
                </defs>
                <text xmlns="http://www.w3.org/2000/svg" x="0" y="97" font-family="'Playfair Display', serif" fill="url(#img1)">
                <tspan font-size="94">ART GALLERY</tspan>
                </text>
                </svg>
            </div>
        </div>


        <div class="mj_100 mj_blue_panel">
            <div class="mj_center">
                <!-- <div class="mj_p_b_right">
                    <p>The wise man is therefore angular,
                        <br/>though he does not injure others;
                        <br/>he has sharp corners,
                        <br/>though he does not harm;
                        <br/>he is upright but not gruff.
                        <br/>He is clearminded,<br/> but he does not try to be brilliant.</p>
                </div> -->
                <div class="mj_p_b_left">
                      <p>
      Mojarto, an NDTV venture,
      is India's <br/>largest aggregator for original art, prints,<br/> and collectibles with over 15,000 artworks.
      </p>
                </div>
            </div>
        </div>

        <div class="mj_center">
            <div class="mj_ipad_section">
                <div class="mj_i_left">
                    <img src="desktop/assets/resources/img/portfolio/mojarto/mj_ipad.png" />
                </div>
                <div class="mj_i_right">
                    <span>creation <br/>of  mojarto </span>
                    <figure></figure>
                </div>
            </div>
        </div>

        <!--The colors-->


        <!-- The artistic code -->
        <div class="mj_center mj_code_section mj_testimonial">
            <h2>Testimonial</h2>
            <p>"Cue Blocks is a world class team located in a small town. It is impressive to see the calibre of the team and the business practices they follow. Whether it is the design team led by Sarthak or the SEO/CRO team led by Pancham, one always comes away learning something new in the interactions with this team.
  <br/>
  <b>Manisha Lath Gupta</b>
  <b>Co-Founder & CEO, Mojarto.com</b>
  </p>

        </div>

        <?php include_once 'common/templates/footer.php'; ?>
        <script src="desktop/assets/resources/js/mojarto.js"></script>
        </body>

</html>
