<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Ovegano</title>
        <link rel='shortcut icon' type='image/x-icon' href='desktop/assets/resources/img/favicon.ico' />
        <link href="desktop/assets/resources/styles/css/page.css" type="text/css" rel="stylesheet"  />
        <link rel="stylesheet" type="text/css" href="desktop/assets/resources/fonts/fonts.css" />
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700" rel="stylesheet">
        <?php include_once 'common/templates/loader.php'; ?>
        <?php include_once 'common/templates/gtm.php'; ?>
    </head>
    <body>
        <?php include_once 'common/templates/gtm-frame.php'; ?>
        <a class="pt_back_btn" href="portfolio.php"><img src="desktop/assets/resources/img/portfolio/back_button.png" /></a>
        <section class="home-portfolio-section og_home_cont">
            <div class="center_cont">

                <div class="ovegano_title-section">

                    <div class="words_cont">
                        <div class="fixed_ovegano">
                            <img src="desktop/assets/resources/img/portfolio/ovegano/ovegano_banner.png" />
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- The design section-->
        <div class="the_design_section">
            <div class="center_cont og_center_cont">
                <div class="kachori_corner">
                    <img src="desktop/assets/resources/img/portfolio/ovegano/kachori.png" />
                </div>
                <div class="kachori_content">
                    <h2>The Brief</h2>
                    <p>
                       The name ‘Ovegano' is a play on languages. In Italian, “O vegano” means “Or vegan”, in Portuguese it means “The vegan” and in Czech, “o veg ano” means “oh vegetarian, yes”. The client needed a logo that would be able to convey the same easily. They wanted a logo that would be able to stand on its own, without needing a tagline to describe what it is.
                    </p>
                </div>

            </div>
        </div>

        <!-- salad -->
        <div class="salad_section">
            <div class="center_cont">
                <div class="salad_base">
                    <span class="salad_seq_base"></span>
                    <span class="salad_seq_1 s_seq"></span>
                    <span class="salad_seq_2 s_seq"></span>
                    <span class="salad_seq_3 s_seq"></span>
                    <span class="salad_seq_4 s_seq"></span>
                    <span class="salad_seq_5 s_seq"></span>
                    <span class="salad_seq_6 s_seq"></span>
                    <span class="salad_seq_7 s_seq"></span>
                    <span class="salad_seq_8 s_seq"></span>
                    <span class="salad_seq_9 s_seq"></span>
                    <span class="salad_seq_10 s_seq"></span>
                    <span class="salad_seq_11 s_seq"></span>
                    <span class="salad_seq_12 s_seq"></span>
                    <span class="salad_seq_13 s_seq"></span>
                </div>

                <!--ovegano logo-->
                <div class="salad_left_section">
                    <div class="ovegano_g-logo">
                        <span class="logo_g"></span>
                        <span class="ovegano_spoon"></span>
                    </div>
                </div>

            </div>
        </div>


        <div class="ovegano_branding-stuff center_cont og_center_cont">
            <div class="branding_puff">
                <img src="desktop/assets/resources/img/portfolio/ovegano/ovegano_branding-stuff.png" />
            </div>
            <div class="branding_content">
                <h3>THE branding</h3>
                <p>
                   We help you provide a fully customised experience to the clients with a unique yet user-friendly branding. We add the human touch and feel so that the users associate your products with good times and memories. It goes a long way in building a fixed consumer base.
                </p>
            </div>
        </div>


        <div class="ovegano_concept_section og_center_cont center_cont">
            <div class="og_cl_graphic">
                <img src="desktop/assets/resources/img/portfolio/ovegano/ovegano_bread.png" />
            </div>
<!--
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span>
-->
        </div>


        <div class="ovegano_color_section og_center_cont center_cont">
            <div class="og_cl_graphic">
                <img src="desktop/assets/resources/img/portfolio/ovegano/the_colors_graphic.png" />
            </div>
            <div class="og_cl_colors">
                <h2>The colors</h2>
                <ul>
                    <li>
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             width="58.415px" height="68.295px" viewBox="253.443 296.081 58.415 68.295"
                             enable-background="new 253.443 296.081 58.415 68.295" xml:space="preserve">
                        <path fill="#469460" d="M264.325,364.375c1.514-2.472,3.513-4.69,5.314-7.086c1.679-2.234,4.17-4.624,4.049-7.846
                              c-2.953,1.415-4.438,4.674-6.327,7.086c-0.993,1.269-2.024,2.525-3.037,3.796c-0.881,1.105-1.916,2.829-3.543,3.037
                              c-1.467-1.602,0.632-3.277,1.519-4.303c3.129-3.621,7.692-7.439,9.364-12.4c-3.144,0.594-5.235,4.484-7.339,7.086
                              c-2.227,2.751-4.35,5.847-7.086,7.845c-1.261-3.218,2.238-5.375,4.556-8.098c1.225-1.438,7.121-6.846,5.061-8.857
                              c-6.31,2.716-7.488,10.564-13.413,13.666c0.173-4.54,3.848-7.277,6.58-10.376c2.101-2.383,5.633-6.875,9.363-7.593
                              c0.982-0.188,1.835,0.217,2.531,0c3.35-1.042,5.795-6.963,8.352-10.123c3.056-3.779,6.112-6.005,8.857-9.617
                              c6.014-7.913,7.507-17.318,14.172-22.523c1.864-1.457,5.333-2.899,8.352-1.266c1.687,10.857-7.283,15.253-13.413,20.246
                              c-5.971,4.863-10.94,11.221-15.691,17.715c-2.499,3.416-4.91,6.463-5.314,11.389c-0.102,1.242,0.261,2.546,0,3.796
                              c-0.392,1.875-2.785,4.57-4.302,6.58C270.293,360.024,268.499,362.86,264.325,364.375z M305.323,309.711c-0.844,0-1.687,0-2.53,0
                              c0,0.506,0,1.012,0,1.519c0.479,0.449,1.671,0.185,2.53,0.253C305.323,310.892,305.323,310.302,305.323,309.711z M305.323,306.168
                              c0.673,0.086,0.578,0.94,1.266,1.012c0.526-0.654,1.102-1.26,2.024-1.519c0-0.59,0-1.181,0-1.771c-0.591,0-1.181,0-1.771,0
                              C306.759,305.073,305.683,305.262,305.323,306.168z M302.033,306.168c0.032,0.559,1.074,0.108,1.519,0.253
                              c-0.185-0.575,0.456-1.975-0.506-1.772C303.072,305.521,302.173,305.464,302.033,306.168z M297.731,313.76
                              c0.443-0.139,0.548-2.042-0.506-1.519C296.781,312.381,296.676,314.284,297.731,313.76z M292.923,317.05
                              c0.184,0.575-0.457,1.975,0.506,1.771c0.665-0.601,1.006-1.525,2.024-1.771c0-0.506,0-1.012,0-1.519c-0.252,0-0.506,0-0.759,0
                              C294.531,316.466,293.68,316.711,292.923,317.05z M280.522,333.753c-1.296-0.031-0.982,1.549-2.278,1.519
                              c0.185,0.574-0.456,1.975,0.506,1.771c1.039-1.238,1.849-2.706,3.543-3.29c0-0.59,0-1.181,0-1.771c-0.59,0-1.181,0-1.771,0
                              C280.522,332.573,280.522,333.163,280.522,333.753z M271.665,345.142c0.506,0,1.012,0,1.518,0c0-0.506,0-1.013,0-1.519
                              c-0.506,0-1.012,0-1.518,0C271.665,344.129,271.665,344.636,271.665,345.142z"/>
                        </svg>
                        <span>#499362</span>
                    </li>
                    <li>
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             width="58.415px" height="68.295px" viewBox="253.443 296.081 58.415 68.295"
                             enable-background="new 253.443 296.081 58.415 68.295" xml:space="preserve">
                        <path d="M264.325,364.375c1.514-2.472,3.513-4.69,5.314-7.086c1.679-2.234,4.17-4.624,4.049-7.846
                              c-2.953,1.415-4.438,4.674-6.327,7.086c-0.993,1.269-2.024,2.525-3.037,3.796c-0.881,1.105-1.916,2.829-3.543,3.037
                              c-1.467-1.602,0.632-3.277,1.519-4.303c3.129-3.621,7.692-7.439,9.364-12.4c-3.144,0.594-5.235,4.484-7.339,7.086
                              c-2.227,2.751-4.35,5.847-7.086,7.845c-1.261-3.218,2.238-5.375,4.556-8.098c1.225-1.438,7.121-6.846,5.061-8.857
                              c-6.31,2.716-7.488,10.564-13.413,13.666c0.173-4.54,3.848-7.277,6.58-10.376c2.101-2.383,5.633-6.875,9.363-7.593
                              c0.982-0.188,1.835,0.217,2.531,0c3.35-1.042,5.795-6.963,8.352-10.123c3.056-3.779,6.112-6.005,8.857-9.617
                              c6.014-7.913,7.507-17.318,14.172-22.523c1.864-1.457,5.333-2.899,8.352-1.266c1.687,10.857-7.283,15.253-13.413,20.246
                              c-5.971,4.863-10.94,11.221-15.691,17.715c-2.499,3.416-4.91,6.463-5.314,11.389c-0.102,1.242,0.261,2.546,0,3.796
                              c-0.392,1.875-2.785,4.57-4.302,6.58C270.293,360.024,268.499,362.86,264.325,364.375z M305.323,309.711c-0.844,0-1.687,0-2.53,0
                              c0,0.506,0,1.012,0,1.519c0.479,0.449,1.671,0.185,2.53,0.253C305.323,310.892,305.323,310.302,305.323,309.711z M305.323,306.168
                              c0.673,0.086,0.578,0.94,1.266,1.012c0.526-0.654,1.102-1.26,2.024-1.519c0-0.59,0-1.181,0-1.771c-0.591,0-1.181,0-1.771,0
                              C306.759,305.073,305.683,305.262,305.323,306.168z M302.033,306.168c0.032,0.559,1.074,0.108,1.519,0.253
                              c-0.185-0.575,0.456-1.975-0.506-1.772C303.072,305.521,302.173,305.464,302.033,306.168z M297.731,313.76
                              c0.443-0.139,0.548-2.042-0.506-1.519C296.781,312.381,296.676,314.284,297.731,313.76z M292.923,317.05
                              c0.184,0.575-0.457,1.975,0.506,1.771c0.665-0.601,1.006-1.525,2.024-1.771c0-0.506,0-1.012,0-1.519c-0.252,0-0.506,0-0.759,0
                              C294.531,316.466,293.68,316.711,292.923,317.05z M280.522,333.753c-1.296-0.031-0.982,1.549-2.278,1.519
                              c0.185,0.574-0.456,1.975,0.506,1.771c1.039-1.238,1.849-2.706,3.543-3.29c0-0.59,0-1.181,0-1.771c-0.59,0-1.181,0-1.771,0
                              C280.522,332.573,280.522,333.163,280.522,333.753z M271.665,345.142c0.506,0,1.012,0,1.518,0c0-0.506,0-1.013,0-1.519
                              c-0.506,0-1.012,0-1.518,0C271.665,344.129,271.665,344.636,271.665,345.142z"/>
                        </svg>
                        <span>#000000</span>
                    </li>
                </ul>
            </div>
        </div>


        <div class="ovegano_fonts_section">
            <div class="og_center_cont center_cont">
                <h3>THE FONTS</h3>
                <span class="font_variations"></span>
                <span class="ft_small_desc">
                  Banaue is a handwritten brush font for a homemade look. The name comes from Philippenes, Banaue is a place in the north. Rice terraces that stretch around mountains, and the rice they produce is only for the local use. The lady in the blue raincoat, that is featured in the main image, was a local rice planter. We felt this connected perfectly with Ovegano.
                </span>
            </div>
        </div>

        <div class="ovegano_finale_section og_center_cont center_cont">
            <span class="finale_title"></span>
            <h3>Happy Client</h3>
            <p>CueBlocks gave us a logo that does what we wanted perfectly. By cleverly using the fork on G, it keeps the logo readable while allows the eye to read the word “Ano” and that is also defined by the tagline placed right under it. We loved it on first sight! They did a great job!</p>
            <p class="ovg_client_tm"><i>David Jirman, Ovegano</i></p>
        </div>

        <div class="og_center_cont center_cont og_footer">
            <img src="desktop/assets/resources/img/portfolio/ovegano/footer.png" />
        </div>

        <!--footer-->
        <?php include_once 'common/templates/footer.php'; ?>
            </body>

</html>
