<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Portfolio</title>
        <link rel='shortcut icon' type='image/x-icon' href='desktop/assets/resources/img/favicon.ico' />
        <link href="desktop/assets/resources/styles/css/page.css" type="text/css" rel="stylesheet"  />
        <link rel="stylesheet" type="text/css" href="desktop/assets/resources/fonts/fonts.css" />
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700" rel="stylesheet">
        <?php include_once 'common/templates/loader.php'; ?>
        <?php include_once 'common/templates/gtm.php'; ?>
    </head>
    <body>
        <?php include_once 'common/templates/gtm-frame.php'; ?>
        <?php include_once 'common/templates/header.php'; ?>
        <?php include_once 'common/templates/navigations.php'; ?>

        <div class="ex_section">
            <h1>Portfolio</h1>
            <p>Engaging and meaningful experiences across multiple disciplines,<br/>platforms and mediums.</p>
        </div>
        <div class="pt_b_center pt_b_cont">
            <!--folio cont-->
            <div class="pt_b_folio atg_b_folio">
                <a href="atg.php">
                    <img src="desktop/assets/resources/img/portfolio/atg_base.png" />
                    <span class="pt_base_tilt">All that grows</span>
                </a>
            </div>
            <div class="pt_b_folio og_b_folio">
                <a href="ovegano.php">
                    <img src="desktop/assets/resources/img/portfolio/ovegano_base.png" />
                    <span class="pt_base_tilt">ovegano</span>
                </a>
            </div>
            <div class="pt_b_folio ne_b_folio">
                <a href="nina_english.php">
                    <img src="desktop/assets/resources/img/portfolio/nina_english_base.png" />
                    <span class="pt_base_tilt">Nina English</span>
                </a>
            </div>

            <div class="pt_b_folio moj_b_folio">
                <a href="mojarto.php">
                    <img src="desktop/assets/resources/img/portfolio/mojarto_base.png" />
                    <span class="pt_base_tilt">Mojarto</span>
                </a>
            </div>
        </div>


        <div class="hm_p_g_touch pt_b_footer">
            <div class="button_cont layer_button">
                <a href="contact.php" class="submit_button upper_layer">Get In Touch With Us</a>
            </div>
        </div>

        <!--footer-->
        <?php include_once 'common/templates/footer.php'; ?>
            </body>
    
</html>